@CHARSET "ISO-8859-1";

body{
	background-image: url("HD-Image-Backgrounds-002.jpg");
	
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4464a3;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #0038a8;
}

.message {
    border-radius: 5px;
    background-color: #170f54;
    padding: 20px;
    color: white;
}

.grid-container{
	margin:60px auto 0;
	display: grid;
	grid-template: repeat(7, auto) / repeat(7, 1fr);
}

.fareed{
	font-style: Impact;
}

.navBar{
	top:0;
	height:auto;
	font-size: 2em;
	background-color: black;
	width: 100%;
	position: fixed;
}

.navBar .spaNav{
	position: relative;
	left: 25%;
	
    
}

.row1{
	grid-area: 2/2/3/span 5;
	font-size: 3em;
	color: white;
	background-color: black;
}

.row2{
	grid-area: 3/2/4/span 5;
}

.fareed_gallery {
	grid-area: 3/2/auto/auto;
}

div.fareed_gallery {
    margin: 5px;
    border: 1px solid #001838;
    float: left;
    width: 180px;
}

div.fareed_gallery:hover {
    border: 1px solid #777;
}

div.fareed_gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
    background-color: #190c35;
    color: gold;
}

