@CHARSET "ISO-8859-1";

body{
	background-image: url("HD-Image-Backgrounds-002.jpg");
	background-size: cover;

}

.grid-container{
	display: grid;
	grid-template: repeat(7, 1fr) / repeat(7, 1fr);
}

.fareed{
	font-style: Impact;
}

.navBar{
	grid-area: 1/1/2/span 7;
	font-size: 2em;
	background-color: black;
	width: 100%;
	position: fixed;
	
}

.navBar .spaNav{
	position: relative;
	left: 25%;
	
    
}

.row1{
	grid-area: 3/2/4/span 5;
	font-size: 3em;
	color: white;
	background-color: black;
}